<!DOCTYPE html>
<html>
  <head>
    <title><Gaming Gateway></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header class="header">
  <a href="" class="logo">Gaming Gateway</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#careers">contact</a></li>
    <li><a href="#contact">Login</a></li>
  </ul>
</header>
  	<body>
  	<main id="main">
  <div class="wrapper">
  <div class="grid0">
  	<h1>Welcome To Gaming Gateway</h1>
  	<p>Nunc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.
  </p>
  <a href="fr" class="btn">SIGN UP</a>
  </div>
  	<!-- Game1 -->
  	<div onclick="location.href='/dota'" class="grid1">
  			<h2> Dota 2</h2>

  		</div>

  <!-- Game2 -->
  <div onclick="location.href='/aoe'" class="grid2">
  			<h2 >AOE2</h2>

  		</div>
  <!-- Game3 -->
  <div onclick="location.href='/fifa'" class="grid3">
  			<h2 >FIFA</h2>

  		</div>
  <!-- Game4 -->
  <div onclick="location.href='/cs'" class="grid4">
  			<h2 >CounterStrike</h2>

  		</div>
  <!-- Game5 -->
  <div onclick="location.href='/league'" class="grid5">
  			<h2 >leage</h2>

  		</div>
  </div>
  <!-- BS -->
  <section id="bs">
  	<div class="box">
  		<h3 > Contact us</h3>
  		<p>unc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.</p>
  	</div>
  </section>
  </main>

  <footer id="ooter">
  	<div>Gaming Gateway</div>
  </footer>
  </body>
  </html>
