<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <style>

  </style>
    <title>Gaming Gateway</title>
</head>

<body>
  <% include template/header.ejs %>
<main id="main">
<div class="wrapper">
<div class="showcase" id="<%= Game %>">
    <h1> <%= Game %> </h1>
    <p>Nunc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.
</p>
</div>
    <!-- chatbox -->
    <div class="list1">
      <table class="table">
<tr>
</tr>
<% if(data.length){
for(var i = 0;i < data.length;i++) { %>
<tr>
<td><%=data[i].username%></td>
</tr>
<% }
}else{ %>
<tr>
<td colspan="3">No user</td>
</tr>
<% } %>
</table>

    </div>

<!-- list 1-->
<div class="list2">
          <h3>Online Users</h3>
          <ul class="list-group" id="users"></ul>
</div>
<!-- list 2 -->
<div class="chatbox">
               <div class="ok">
                <div class="chat" id="chat"></div>
              </div>
                <form id="messageForm">
                  <div class="form-group">
                    <textarea class="form-control" id="message"></textarea>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Send Message" />
                  </div>
                </form>
            </div>
        </div>
</main>

<footer id="ooter">
    <div>Home Made Web Studios ©2017</div>
</footer>
<script>
  $(function(){
    var socket = io.connect();
    var $messageForm = $('#messageForm');
    var $message = $('#message');
    var $chat = $('#chat');
    socket.emit('create', '<%= Game %>');
    $messageForm.submit(function(e){
      e.preventDefault();
      socket.emit('send message', $message.val());
      $message.val('');
    });
    socket.on('new message', function(data){
      $chat.append('<div class="well">'+data.msg+'</div>');
    })
  });
</script>
</body>
</html>
