<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Gaming Gateway</title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gaming Gateway</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/1">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Games <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dota1">Dota</a></li>
              <li><a href="/lol1">League of Legends</a></li>
              <li><a href="/aoe1">Age of Empires2</a></li>
              <li><a href="/fifa1">Fifa</a></li>
              <li><a href="/cs1">Counterstrike</a></li>
            </ul>
          </li>
          <li><a href="/1#bs">Contact Us</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span><%= Name %></a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
      </div>
        </ul>
      </div>
    </div>
  </nav>
<main id="main">
<div class="wrapper">
<div class="showcase" id="<%= Game %>">
    <h1> <%= Game %> </h1>
    <p>Nunc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.
</p>
</div>
    <!-- chatbox -->
    <div class="list1">
      <table class="table">
<tr>
</tr>
<% if(data.length){
for(var i = 0;i < data.length;i++) { %>
<tr>
<td><%=data[i].message%></td>
</tr>
<% }
}else{ %>
<tr>
<td colspan="3">No user</td>
</tr>
<% } %>
</table>

        </div>

<!-- list 1-->
<div class="list2">
            <h2 >list2</h2>

        </div>
<!-- list 2 -->
<div class="chatbox">
            <h2 >chatbox</h2>
        </div>
        </div>
</main>

<footer id="ooter">
    <div>Home Made Web Studios ©2017</div>
</footer>
</body>
</html>
