<!DOCTYPE html>
<html>
  <head>
    <title><Gaming Gateway></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">

  		<label for="click">&#9776;</label>
  		<input type="checkbox" id="click"/>
          <div class="menu">
          	<a href="#">Menu 1</a>
          	<a href="#">Menu 2</a>
          	<a href="#">Menu 3</a>
          	<a href="#">Menu 4</a>
  	</div>
  </div>
  	<body>
  	<main id="main">
  <div class="wrapper">
  <div class="grid0">
  	<h1>Welcome To Gaming Gateway</h1>
  	<p>Nunc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.
  </p>
  <a href="fr" class="btn">SIGN UP</a>
  </div>
  	<!-- Game1 -->
  	<div onclick="location.href='/dota'" class="grid1">
  			<h2> Dota 2</h2>

  		</div>

  <!-- Game2 -->
  <div onclick="location.href='url'" class="grid2">
  			<h2 >AOE2</h2>

  		</div>
  <!-- Game3 -->
  <div onclick="location.href='url'" class="grid3">
  			<h2 >FIFA</h2>

  		</div>
  <!-- Game4 -->
  <div onclick="location.href='url'" class="grid4">
  			<h2 >CounterStrike</h2>

  		</div>
  <!-- Game5 -->
  <div onclick="location.href='url'" class="grid5">
  			<h2 >leage</h2>

  		</div>
  </div>
  <!-- BS -->
  <section id="bs">
  	<div class="box">
  		<h3 > Contact us</h3>
  		<p>unc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.</p>
  	</div>
  </section>
  </main>

  <footer id="ooter">
  	<div>Gaming Gateway</div>
  </footer>
  </body>
  </html>
