<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Gaming Gateway</title>
</head>

<body>
 <% include template/header.ejs %>
  	<main id="main">
  <div class="wrapper">
  <div class="grid0">
  	<h1>Welcome To Gaming Gateway</h1>
  	<p>Nunc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.
  </p>
  <a href="/signup" class="btn">SIGN UP</a>
  </div>
  	<!-- Game1 -->
  	<div onclick="location.href='/game/Dota'" class="grid1">
  			<h2> Dota 2</h2>

  		</div>

  <!-- Game2 -->
  <div onclick="location.href='/game/AOE'" class="grid2">
  			<h2 >AOE2</h2>

  		</div>
  <!-- Game3 -->
  <div onclick="location.href='/game/FIFA'" class="grid3">
  			<h2 >FIFA</h2>

  		</div>
  <!-- Game4 -->
  <div onclick="location.href='/game/CounterStrike'" class="grid4">
  			<h2 >CounterStrike</h2>

  		</div>
  <!-- Game5 -->
  <div onclick="location.href='/game/League'" class="grid5">
  			<h2 >leage</h2>

  		</div>
  </div>
  <!-- BS -->
  <section id="bs">
  	<div class="box">
  		<h3 > Contact us</h3>
  		<p>unc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.</p>
  	</div>
  </section>
  </main>

  <footer id="ooter">
  	<div>Home Made Web Studios ©2017</div>
  </footer>
  </body>
  </html>
