<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Gaming Gateway</title>
</head>

<body>
 <% include template/header.ejs %>
  	<main id="main">
  <div class="wrapper">
  <div class="grid0">
  	<h1><span>Welcome to<br />&nbsp;&nbsp;&nbsp;&nbsp;Gaming Gateway</span></h1>
  </div>
  	<!-- Game1 -->
  	<div onclick="location.href='/game/Dota'" class="grid1">
 <div class="imagebox">
          <img src="../images/DOTA.jpg"  class="category-banner img-responsive">
       <span class="imagebox-desc">All Pick!</span>
</div>
      </div>

  <!-- Game2 -->
  <div onclick="location.href='/game/AOE'" class="grid2">
    <div class="imagebox">
             <img src="../images/AOE.jpg"  class="category-banner img-responsive">
          <span class="imagebox-desc">Welcome to AOE</span>
   </div>
  		</div>
  <!-- Game3 -->
  <div onclick="location.href='/game/FIFA'" class="grid3">
  			<div class="imagebox">
                 <img src="../images/FIFA.jpg"  class="category-banner img-responsive">
              <span class="imagebox-desc">It's in the game</span>
       </div>
  		</div>
  <!-- Game4 -->
  <div onclick="location.href='/game/CounterStrike'" class="grid4">
    <div class="imagebox">
             <img src="../images/CS.jpg"  class="category-banner img-responsive">
          <span class="imagebox-desc">Go! Go! Go!</span>
   </div>
  		</div>
  <!-- Game5 -->
  <div onclick="location.href='/game/League'" class="grid5">
    <div class="imagebox">
             <img src="../images/LOL.jpg"  >
          <span class="imagebox-desc">Welcome to League</span>
   </div>
  </div>
</div>
  <!-- BS -->
  <section id="bs">
  	<div class="box">
  		<h3 > Contact us</h3>
  		<p>unc posuere nec elit et suscipit. Sed augue enim, bibendum facilisis sagittis nec, aliquam sed dui. Sed ac porttitor mi. Suspendisse blandit arcu sit amet porta efficitur.</p>
  	</div>
  </section>
  </main>

  <footer id="ooter">
  	<div>Home Made Web Studios ©2017</div>
  </footer>
  </body>
  </html>
