<!DOCTYPE html>
<html>
  <head>
    <title><Gaming Gateway></title>
    <link rel='stylesheet' href='/stylesheets/login.css'>
  </head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/verifyuser" method="post">
      <input type="text" id="username" name="username" placeholder="username" required=""/>
      <input type="password" id="password" name="password" placeholder="password" required=""/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="/home/signup">Create an account</a></p>
    </form>
  </div>
</div>
</body>
</html>
